.remove-btn {
  display: inline-block;
  background-color: #ffffff;
  background-image: url("/src/assets/basket.png");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border: transparent;
  border-radius: 5px;
}

.img-basket {
  width: 40px;
  height: 40px;
}

.remove-btn:hover {
  outline: 2px solid #000000;
  box-shadow: 0 0 20px -3px rgba(162, 162, 169, 1);
}