#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-box {
  display: flex;
  flex-direction: column;
}

.title-burger {
  display: block;
  font-size: 36px;
  font-weight: 400;
}

.box-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  align-content: space-between;
}

.ingridients-box,
.visualizer-burger-box {
  width: 450px;
  height: auto;
  border: 2px solid #000000;
  border-radius: 10px;
}

.ingridients-box:hover,
.visualizer-burger-box:hover {
  border: 2px solid rgba(182, 178, 178, 0.7);
  box-shadow: 0 0 26px 5px rgba(0,0,0,0.1);
}